/*Eric Meyer's CSS Reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {border: 0;font-size: 100%;font: inherit;vertical-align: baseline;margin: 0;padding: 0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block}body {line-height: 1}ol,ul {list-style: none}blockquote,q {quotes: none}blockquote:before,blockquote:after,q:before,q:after {content: none}table {border-collapse: collapse;border-spacing: 0}
/*End CSS Reset*/

@font-face {
    font-family: 'mosk';
    src: url('./fonts/mosk_bold_700-webfont.eot');
    src: url('./fonts/mosk_bold_700-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/mosk_bold_700-webfont.woff2') format('woff2'), url('./fonts/mosk_bold_700-webfont.woff') format('woff'), url('./fonts/mosk_bold_700-webfont.ttf') format('truetype'), url('./fonts/mosk_bold_700-webfont.svg#moskbold_700') format('svg');
    font-weight: 700;
}

@font-face {
    font-family: 'mosk';
    src: url('./fonts/mosk_normal_400-webfont.eot');
    src: url('./fonts/mosk_normal_400-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/mosk_normal_400-webfont.woff2') format('woff2'), url('./fonts/mosk_normal_400-webfont.woff') format('woff'), url('./fonts/mosk_normal_400-webfont.ttf') format('truetype'), url('./fonts/mosk_normal_400-webfont.svg#mosk_normal_400regular') format('svg');
    font-weight: 400;
}

@font-face {
    font-family: 'mosk';
    src: url('./fonts/mosk_thin_100-webfont.eot');
    src: url('./fonts/mosk_thin_100-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/mosk_thin_100-webfont.woff2') format('woff2'), url('./fonts/mosk_thin_100-webfont.woff') format('woff'), url('./fonts/mosk_thin_100-webfont.ttf') format('truetype'), url('./fonts/mosk_thin_100-webfont.svg#moskthin_100') format('svg');
    font-weight: 100;
}

html {
    background: #6b896b; 
    /* fallback for old browsers */
    background: -webkit-linear-gradient(right bottom, #9cc39c, #284a28); 
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top left, #9cc39c, #284a28); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

body {
    margin-bottom: 40px;
    font-family: mosk, sans-serif;
}

noscript{
    position: fixed;
    min-height: 300px;
    min-width: 300px;
    background-color: #2a2a2a;
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 40px;
    padding: 40px;
    color: white;
    text-align: center;
}

noscript h1{
    font-size: 4em;
    margin-bottom: 40px;
}

noscript h2{
    font-size: 2em;
    line-height: 1.2em;
    margin-bottom: 20px;
}

noscript p{
    font-size: 1.4em;
    line-height: 1.4em;
}


.darkOverlay{
    background-color: #2a2a2a;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    visibility: hidden;
}

.loginWrap h1{
    text-align: center;
    font-size: 2.4em;
    color: black;
    width: 100%;

    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
}

.loginOverlay{
    margin: auto;
    width: 60%;
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    position: fixed;
    z-index: 11;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0%);
    visibility: hidden;

    -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
}

.visible{
    visibility: visible;
}

#inputForm h1{
    text-align: center;
    font-size: 2.4em;
    color: black;
    width: 100%;

    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
}

#inputForm form{
    padding: 20px;
    font-size: 1.4em;
}

.formGroup{
    position: relative;
    margin-bottom: 35px;
}

#inputForm input{
    width: 100%;
    font-size: 1em;
    display: block;
    border: none;
    border-bottom: solid 2px #757575;
}

#inputForm input:focus{
    outline: none;
}

#inputForm label{
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:5px;
    transition:0.2s ease all;
}

#inputForm input:focus ~ label, input:valid ~label{
    top:-20px;
    font-size:14px;
    color: black;
}

select{
    background-color: transparent;
    width: 100%;
    font-size: 18px;
    font-family: inherit;
/*    border: none;*/
    border-bottom: solid 1px #757575;
}

.noAccount{
    text-align: center;
    color: white;
    line-height: 1.2em;
}

.noAccount a{
    display: block;
    text-align: center;
    width: 100%;
    color: #fdda45;
    text-decoration: none;
}

header {
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
}

header h1 {
    font-size: 4em;
    color: white;
    display: inline-block;
    font-weight: 100;
}

.bold{
    font-weight: 700;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    cursor: default;
}

footer p {
    text-align: center;
    font-weight: 100;
    color: white;
    margin: 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #d4d4d4;
}

#filters {
    margin-bottom: 10px;
    padding: 20px 0 5px 0;
    display: none;
    background-color: #2a2a2a;
    background-color: rgba(46, 46, 46, 0.4);
    -moz-box-shadow:    inset  0  10px 10px -10px #000,
                        inset  0  -5px 10px -10px #000;
    -webkit-box-shadow: inset  0  10px 10px -10px #000,
                        inset  0  -5px 10px -10px #000;
     box-shadow:        inset  0  10px 10px -10px #000,
                        inset  0  -5px 10px -10px #000;
}

#filters nav {
    text-align: center;
    margin-bottom: 10px;
}

#filters nav a {
    font-size: 1em;
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

#toolbar{
    text-align: center;
    visibility: hidden;
}

#toolbar *{
    display: inline-block;
}

#toolbar a{
    font-size: 1.2em;
    text-decoration: none;
    padding: 10px 30px;
}

#loginButton{
    color: #fdda45;
}

.filterButton{
    color: #fdda45;
}

.games{
  color: white;
}

.whiteFilterButton{
    color: white;
}

#map {
    position: relative;
    height: 75vh;
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
}

.loginWrap{
  background: #FFFFFF;
  border-radius: 25px;
  margin: auto;
  margin-top: 50px;
  width: 60%;
}


form{
  margin: auto;
  padding: 40px;
}

input{
  margin-top: 10px;
}

form p {
  margin-top: 10px;
}

#yourGames {
    margin-bottom: 10px;
    padding: 20px 0 5px 0;
    display: none;
    background-color: #2a2a2a;
    background-color: rgba(46, 46, 46, 0.4);
    -moz-box-shadow:    inset  0  10px 10px -10px #000,
                        inset  0  -5px 10px -10px #000;
    -webkit-box-shadow: inset  0  10px 10px -10px #000,
                        inset  0  -5px 10px -10px #000;
     box-shadow:        inset  0  10px 10px -10px #000,
                        inset  0  -5px 10px -10px #000;
}

.yourGames {
  width: 20%;
  padding-bottom: 10px;
  margin: 20px;
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF;
}

#adminArea{
    position: fixed;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    width: 280px;
    margin-left: 70%;
    margin-top: -70px;
    height: 80px;
    border-radius: 15px;
}

#adminArea p{
    position: absolute;
    bottom: 12px;
    left: 10px;
    color: white;
}

.logoutButton{
    float: right;
}

.register {
	margin-left:10px;
}

input.invalid{
    border: 2px solid red;
}
 
input.valid{
    border: 2px solid green;
}

.error{
    display: none;
    margin-left: 10px;
}      
 
.error_show{
    color: red;
    margin-left: 10px;
}